 <div id="store-locator-container" class="span8 offset2">
      <div id="page-header">

      <div id="form-container" >
        <form id="user-location" method="post" action="#" >
          <fieldset>
              <label for="address">Enter Address or Zip Code:</label>
              <input type="text" id="address" name="address" />

            <input class='btn' id="submit" name="submit" value="Submit"/>
          <fieldset>
        </form>
      </div>

      <div id="map-container">
        <div id="loc-list">
            <ul id="list"></ul>
        </div>
        <div id="map"></div>
      </div>
    </div>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <script>
        $(function() {
          $('#map-container').storeLocator();
        });
      </script>
